/* STYLES */
body {
    margin: 0;
}
div {
    display: block;
    position: absolute;
}
#container {
    background-color: #e7e7e5;
    height: 90px;
    overflow: hidden;
    width: 728px;
}
#bg {
    background-color: #EBF7FE;
    height: 90px;
    width: 383px;
}
#outline {
    border: black solid 1px;
    height: 88px;
    left: 0px;
    top: 0px;
    width: 726px;
    z-index: 5;
}
#click-area {
    cursor: pointer;
    height: 90px;
    width: 728px;
    z-index: 6;
}
/* SPRITES */
.sprite {
    background-image: url(sprite.png);
    opacity: 0;
}

.cta {
    width: 89px;
    height: 26px;
    background-position: -1px -1px;
}

.header1 {
    width: 217px;
    height: 49px;
    background-position: -1px -29px;
}

.header2 {
    width: 227px;
    height: 51px;
    background-position: -1px -80px;
}

.header3 {
    width: 272px;
    height: 24px;
    background-position: -1px -133px;
}

.header4 {
    width: 183px;
    height: 49px;
    background-position: -1px -159px;
}

.header5 {
    width: 227px;
    height: 51px;
    background-position: -1px -210px;
}

.legal {
    width: 203px;
    height: 77px;
    background-position: -1px -263px;
}

.logo {
    width: 89px;
    height: 20px;
    background-position: -1px -342px;
}

.sub {
    width: 276px;
    height: 14px;
    background-position: -1px -364px;
}
/* POSITIONING */
.cta { left: 623px; top: 55px; }
.headers { left: 12px; top: 8px; }
.legal { left: 393px; top: 8px; }
.logo { right: 15px; top: 10px; opacity:1; }
.sub{ left: 12px; top: 63px; }