/* STYLES */
body{
    margin: 0;
}
div{
    position: absolute;
    display: block;
}
#container{
    background-color: #e7e7e5;
    height: 600px;
    overflow: hidden;
    width: 300px;
}
#bg{
    background-color: #eaf8eb;
    height: 300px;
    width: 300px;
}
#outline{
    z-index: 5;
    left: 0px;
    top: 0px;
    width: 298px;
    height: 598px;
    border: black solid 1px;
}
#click-area{
    z-index: 6;
    width: 300px;
    height: 600px;
    cursor: pointer;
}
/* SPRITES */
.sprite {
    background-image: url(sprite.png);
    opacity: 0;
}

.cta {
    width: 89px;
    height: 26px;
    background-position: -1px -1px;
}

.header1 {
    width: 170px;
    height: 23px;
    background-position: -1px -29px;
}

.header2 {
    width: 204px;
    height: 49px;
    background-position: -1px -54px;
}

.header3 {
    width: 156px;
    height: 50px;
    background-position: -1px -105px;
}

.header4 {
    width: 227px;
    height: 50px;
    background-position: -1px -157px;
}

.header5 {
    width: 183px;
    height: 49px;
    background-position: -1px -209px;
}

.header6 {
    width: 227px;
    height: 50px;
    background-position: -1px -260px;
}

.legal {
    width: 234px;
    height: 47px;
    background-position: -1px -312px;
}

.logo {
    width: 91px;
    height: 21px;
    background-position: -1px -361px;
}

.sub {
    width: 207px;
    height: 30px;
    background-position: -1px -384px;
}
/* SPRITE POSITIONING */
.cta{
    top: 355px;
    left: 20px;
}
.headers{
    top: 25px;
    left: 20px;
}
.legal{
    bottom: 22px;
    left: 20px;
}
.logo{
    top: 320px;
    left: 20px;
    opacity: 1;
}
.sub{
    top: 95px;
    left: 20px;
}
